:root {
  --navbar-color: #C71F37;
  --home-background-color: black;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.home-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--home-background-color);
  height: 100vh;
}

h1 {
  color: white;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  color: var(--navbar-color);
  font-weight: 400;
  font-style: italic;
}